/*!
 * Start Bootstrap - 1 Col Portfolio HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

footer {
    position: relative;
    margin: 50px 0;
}

.ima-logo {
  position: absolute;
  top: -10px;
  right: 0px;
  width: 150px;
}

video.col-md-12 {
  width: 100%;
}

.github-fork-ribbon-wrapper {
	position: fixed !important;
}